* {
  background-color: antiquewhite;
}

button {
}

section {
  background-color: white;
  display: grid;
  align-content: space-around;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1rem;
  color: black;
}

.dot {
  background-color: black;
  margin: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
